.button {
    all: unset;
    text-decoration: none;
    padding: 12px 13px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button:hover {
    padding: 17px 18px;
}

/* STYLE */
.btBlue {
    background-color: var(--primary);
    border: 3px solid var(--primary);
    box-shadow: 0px 6px 17px -9px rgba(11,33, 99, 0.97);
}

.btGreen {
    background-color: var(--secondary);
    border: 3px solid var(--secondary);
    box-shadow: 0px 6px 17px -9px rgba(7,229, 127, 0.97);

}

.btRed {
    background-color: var(--quaternary);
    border: 3px solid var(--quaternary);
    box-shadow: 0px 6px 17px -9px var(--quaternary);

}

.btBorder {
    border: 3px solid;

}

.btBorderGreen {
    border-color: var(--secondary);
    box-shadow: 0px 6px 17px -9px rgba(7,229, 127, 0.97);

}

.btBorder.btBorderGreen:hover {
    background-color: var(--secondary);
}

.btBorderBlue {
    border-color: var(--primary);
    box-shadow: 0px 6px 17px -9px rgba(11,33, 99, 0.97);
}

.btBorder.btBorderBlue:hover {
    background-color: var(--primary);
    color: var(--text)
}



/* SIZE */
.btMedium {
    width: 190px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
}

.btBigger {
    padding: 15px 50px;
}

@media only screen and (max-width: 750px) {
    .button {
        padding: 15px 16px;
    }

    .btMedium {
        width: 230px;
        height: 70px;
        font-size: 20px;
    }

}

@media only screen and (max-width: 500px) {
    .btMedium {
        width: 200px;
        height: 40px;
        font-size: 20px;
    }
}

@media only screen and (max-width:375px) {
    .btMedium {
        width: 180px;
        height: 30px;
        font-size: 17px;
    }

}