header {
    padding-top: 25px;
    padding-bottom: 50px;
    width: 100px;
    height: calc(100vh - 25px);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    -webkit-box-shadow: 6px 0px 17px -9px rgb(17, 17, 17);
    -moz-box-shadow: 6px 0px 17px -9px rgba(17,17,17,1);
    box-shadow: 6px 0px 17px -9px rgba(17,17,17,1);
}

#exit {
    padding-bottom: 50px;
}